<h1>Counter: <%= @counter.id%> </h1>
<br>
<%= content_tag :div, id: "counter_tag" do %>
<%= render 'counter', counter: @counter %>
<% end%>

<%= link_to "Increment", counter_path(@counter), method: :put, :remote => true %>